@model CaptureDataAndNavigateFromSessionApp.Models.Mentee
@inject IHttpContextAccessor httpContextAccessor
@using CaptureDataAndNavigateFromSessionApp.ExtensionMethods


<div class="row">
    <div class="col-sm-3">
        <form method="post" asp-action="RegisterNewMentee">
            <div class="card" style="width: 18rem; margin-bottom:20px;box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;">
                <div class="card-body">
                    <h5 class="card-title">Register Mentees</h5>
                    <input asp-for="@Model.MenteeName" placeholder="Enter mentees name" class="form-control"/><br />
                    <input asp-for="@Model.MenteeEmail" placeholder="Enter mentees email" class="form-control" /><br />
                    <input type="submit" value="Register" class="btn btn-primary" />
                </div>
            </div>
        </form>
    </div>
</div>
